// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// SEARCH PARAMS
//// --------------------------------------------------------------------------

	// Style block

	.search-params {
		margin: 0 0 theme.$spacing-x4 0;
		form {
			& > * {
				margin: 0 0 theme.$spacing-x2 0;
				&:last-child {
					margin-bottom: 0;
				}	
			}
			button {
				margin-left: auto;
			}
		}
	}