// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// ADOPTED PET
//// --------------------------------------------------------------------------

	// Style block

	.adopted-pet {
		margin: 0 0 theme.$spacing-x4 0;
		.adopted-pet-image {
			height: 250px;
			margin: 0 0 theme.$spacing-x2 0;
			img {
				@include mixins.object-fit(center, cover);
				@include mixins.sizing(100%, 100%);
				@include mixins.border-radius(6px);	
			}
		}
		.adopted-pet-name {
			text-align: center;
		}
	}