// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// CAROUSEL
//// --------------------------------------------------------------------------

	// Style block

	.carousel {
		img {
			@include mixins.object-fit(center, cover);
			@include mixins.sizing(100%, 100%);
		}
		&, .carousel-image {
			margin: 0 0 theme.$spacing-x4 0;
		}
		.carousel-image, .carousel-thumbnails {
			min-width: 1px;
			@include mixins.flex(1 1 100%);
		}
		.carousel-image {
			height: 400px;
			img {
				@include mixins.border-radius(6px);	
			}
		}
		.carousel-thumbnails {
			margin: 0 -#{theme.$spacing-x1};
			.carousel-thumbnail {
				width: calc(100% / 6);
				padding: 0 theme.$spacing-x1;
				&.active a {
					border-color: darken(theme.$color-05, 5%);
				}
				a {
					display: block;
					position: relative;
					@include mixins.sizing(100%, 0);
					padding-bottom: calc(100% - 4px);
					overflow: hidden;					
					@include mixins.border-radius(50%);
					border: 2px solid theme.$color-04;
					img {
						@include mixins.position-fill;
					}
				}
			}
		}
	}
	@include mixins.respond-min(theme.$bp-03) {
		.carousel {
			.carousel-image {
				@include mixins.flex(0 1 auto);
				@include mixins.sizing(45%, 300px);
				margin: 0 theme.$spacing-x4 0 0;
			}
			.carousel-thumbnails {
				@include mixins.flex;
				.carousel-thumbnail {
					width: calc(100% / 5);
				}
			}
		}
	}
